/* ESTILO BOTON VOLVER AL PRINCIPIO */

.boton {
  background-color: #ff6266;
  border: none;
  color: #221F29;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  display: flex;
  border-radius: 8px;
  font-size: 1rem;
  position: relative;
  justify-content: center;
}

.boton:hover {
  background-color: #CC3F3F;
  color: #221F29;
}

/* MODIFICACION DE TERMINAL/SOURCE/CSS */

.post ul li:before {
  content: "▶";
  position: absolute;
  left: -20px;
  color: var(--accent);
}

.post ul li ul li:before {
  content: "-";
  position: absolute;
  left: -20px;
  color: var(--accent);
}
