<footer class="footer">
  <div class="footer__inner">
    {{ if $.Site.Copyright }}
      <div class="copyright copyright--user">
        <span>{{ $.Site.Copyright | safeHTML }}</span>
    {{else}}
      <div class="copyright">
        <span>{{ partial "fontawesome.html" "skull" }} Compartir es bueno {{ partial "fontawesome.html" "skull" }}</a></span>
    {{end}}
        <span>:: {{ partial "fontawesome.html" "gitlab" }} <a href="https://gitlab.com/arkivo/arkivo.gitlab.io">Arkivo</a></span>
        <span>:: Theme made by <a href="https://twitter.com/panr">panr</a></span>
      </div>
  </div>
</footer>

<script src="{{ "assets/main.js" | absURL }}"></script>
<script src="{{ "assets/prism.js" | absURL }}"></script>

<!-- Extended footer section-->
{{ partial "extended_footer.html" . }}
